<!doctype htlm>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ asset('style1.css') }}">
    </head>

<body>
<nav class="navbar">
        <a href="#" class="logo">IDEE</a>
        <div class="nav-links">
            <ul class="nav">
                <li class="active"><a href="/">Accueil</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/cv">Cv</a></li>
                <li><a href="/projets">Mes projets</a></li>
            </ul>
        </div>
        <img src="{{ asset('menu-btn.png') }}" class="menu-btn">
    </nav>
    <div class="centre">
    <div class="containert">
        <div class="cardt">
            <div class="contenu">
                <span class="photos"><img src="{{ asset('dams.jpg') }}" class="photo"></span>
                    <span class="texte">
                        <h3>
                            Mon profil
                        </h3>
                        <span>"Passionné de développement web et de jeux vidéos, j'aime me surpasser dans les sports individuels tout en appréciant les bienfaits de la performance collective dans ma quête de productivité."<br></span>
                        <span><br>Bonjour, je m'appelle Damien Villevet, j'ai 18 ans et je suis étudiant en IUT Réseau et télécomunication à Roanne en première année.<br><br><br></span>
                        <div class="profil">
                            <div class="reseaux"><br>Mes réseaux :</div>
                            <div class="elements">
                                <a href="https://github.com/Skillisgod" target="blank"><img src="{{ asset('git.png') }}" class="rs rs-1"></a>
                                <a href="https://www.instagram.com/damien.vlvt/" target="blank"><img src="{{ asset('insta.png') }}" class="rs rs-2"></a>
                                <a href="https://twitter.com/damienvlvt" target="blank"><img src="{{ asset('twitter.jpg') }}" class="rs rs-1"></a>
                                <a href="https://www.youtube.com/channel/UC2X1GPWFsffQrYHeoCmCF1Q" target="blank"><img src="{{ asset('youtube.jpg') }}" class="rs rs-1"></a>
                            </div>
                        </div>
                    </span>
            </div>
            <div class="contentt">
            </div>
        </div>
    </div>
    <div class="cartes">
    <div class="container">
        <div class="card">
            <div class="title">
                Portfolio
            </div>
            <div class="content">
                <h2>01</h2>
                <h3>Portfolio</h3>
                    <p>Si Je devais écrire quelques unes de mes qualités, J'écrirais: travailleur, créatif, détérminé, digne de confiance, dynamique, direct. À continuation, vous pourrez regarder les documents que j'ai considéré les plus importants et qui m'ont aidé le plus pendant ces mois.</p>
                <a href="/portfolio">En savoir plus</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="title">
                Curiculum 
                <br>Vitae
            </div>
            <div class="content">
                <h2>02</h2>
                <h3>Curiculum Vitae</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto consequatur error in maiores ipsam ullam debitis nam facere praesentium autem accusamus dicta repellendus officiis, vero tenetur porro suscipit blanditiis quo?</p>
                <a href="/cv">En savoir plus</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="title">
                Mes projets
            </div>
            <div class="content">
                <h2>03</h2>
                <h3>Mes projets</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto consequatur error in maiores ipsam ullam debitis nam facere praesentium autem accusamus dicta repellendus officiis, vero tenetur porro suscipit blanditiis quo?</p>
                <a href="/projets">En savoir plus</a>
            </div>
        </div>
    </div>
    </div>
    </div>  
    <div class="footer">
        <p>Footer</p>
        <br><p>&copy;2023 Villevet_Damien Tous droits réservés</p>
    </div>
    <script type="text/javascript" src="{{ asset('js/vanilla-tilt.js') }}"></script>
    <script>
    const menuHamburger = document.querySelector(".menu-btn")
        const navLinks = document.querySelector(".nav-links")
 
        menuHamburger.addEventListener('click',()=>{
        navLinks.classList.toggle('mobile-menu')
    });
        VanillaTilt.init(document.querySelectorAll(".cardt"), {
		max: 15,
		speed: 400,
        glare: true,
        "maw-glare": 1,
	});
        VanillaTilt.init(document.querySelectorAll(".card"), {
		max: 25,
		speed: 400,
        glare: true,
        "maw-glare": 1,
	});
    </script>
</body>
</html>