<!doctype htlm>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset('style1.css') }}">
</head>

<body>
    <nav class="navbar">
        <a href="#" class="logo">IDEE</a>
        <div class="nav-links">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/cv">Cv</a></li>
                <li class="active"><a href="/projets">Mes projets</a></li>
            </ul>
        </div>
        <img src="{{ asset('menu-btn.png') }}" class="menu-btn">
    </nav>
        <div class="cartespj">
            <div class="carte1pj">
                <div class="container">
                    <div class="cardpj">
                        <div class="title">
                            Site internet
                        </div>
                        <div class="cartedevpf">
                            <img src="{{ asset('internet.png') }}" class="pj1">
                            <div class="content">
                                <h3>
                                    Site internet
                                </h3>
                                <ul class="difcv">
                                    <li>J'ai mis en place un site internet concernant le surf (ma passion) sur les différentes compétitions ext...</li>
                                    <li class="lipf">J'ai réalisé ce site internet pour mon intérêt général et l'ai mis en ligne par le bias de Github</li>
                                    <br>
                                    <div class="lienspj">
                                        <a href="https://skillisgod.github.io/Skillisgod/index.html" target="blank">En savoir plus</a>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cartespj">
            <div class="carte1pj">
                <div class="container">
                    <div class="cardpj">
                        <div class="title">
                            Chaine Youtube
                        </div>
                        <div class="cartedevpf">
                            <img src="{{ asset('yt.png') }}" class="pj">
                            <div class="content">
                                <h3>
                                    Chaine Youtube
                                </h3>
                                <ul class="difcv">
                                    <li>J'ai mis en place une chaine Youtube ciblée sur les jeux vidéos. Elle me permet de montrer mes capacités en montage vidéos</li>
                                    <li class="lipf">J'utilise le logiciel de montage "Première pro" qui me permet de découvrir énormément de nouveautés</li>
                                    <br>
                                    <div class="lienspj">
                                        <a href="https://www.youtube.com/shorts/rXtguGTjOQc" target="blank">En savoir plus</a>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="copyright">&copy;2023 Villevet_Damien Tous droits réservés</span>
    <script type="text/javascript" src="{{ asset('js/vanilla-tilt.js') }}"></script>    
    <script>
        const menuHamburger = document.querySelector(".menu-btn")
            const navLinks = document.querySelector(".nav-links")
    
            menuHamburger.addEventListener('click',()=>{
            navLinks.classList.toggle('mobile-menu')
        });
        VanillaTilt.init(document.querySelectorAll(".cardpj"), {
            max: 10,
            speed: 400,
            glare: true,
            "maw-glare": 1,
        });
    </script>
</body>

</html>